
MechGame/Content/AncientContent/Characters/Echo/Textures/Head/head_spec_highpass_003.uasset
MechGame/Content/ParagonMinions/Characters/Global/MaterialLayers/Wood/T_TreeBark_D.uasset
MechGame/Content/ParagonMinions/Characters/Global/MaterialLayers/Wood/T_TreeBark_N.uasset
